<article id="logo">
  <section>
    <img src="img/logo.png" alt="For the Schools" class="brand">
  </section>
</article>

<article id="primary" style="display:none;">
  <section>
    <img src="img/logo.png" alt="For the Schools" class="brand">
    <h1>Easy Fundraising that works!</h1>
    <h4>Earn cash back for you and your School, sports team or club by shopping online.</h4>

    <div class="cta-bottom">
      <a href="#/login" class="btn-terciary btn-half" id="btn-login">Login</a>
      <a href="#/signup" class="btn-terciary btn-half" id="btn-signup">Sign Up</a>
      <a href="" class="btn-facebook" ng-click="facebookLogin()"><span data-icon="&#xe093;"></span> Connect with <span>Facebook</span></a>

      <div class="divider-primary"></div>

      <p>By joining you agree to our <a href="#/terms">Terms</a> & <a href="#/privacy">Privacy Policy</a>.</p>
    </div>
  </section>
</article>
