<ion-view>
    <ion-content>

        <article id="firstSteps">
            <section>
                
                <div style="width: 95%;height: 320px;background: #999;margin:10px auto;margin-left:10px;">
                    <span style="color:black;margin-top:100%;position:relative;top:150px;">image</span>
                </div>
                
                <h1>Step 1</h1>
                <div id="set-cashback-content" style="margin-bottom:10px;">
                    Content for step 1 explanation goes here. blah blah blah.
                </div>
                <a class="button button-positive button-helper" ui-sref="newuser2">NEXT</a>
                
            </section>
        </article>

    </ion-content>
</ion-view>