<ion-view title='<img class="title-image" src="img/logo.png" />'>
    <ion-content class="padding">
        
        <article id="secundary">
            <div data-role="content">
                
                <div id="schoolSelectionMethod">
                    <h2>Find your School</h2>
                    <a class="button button-positive button-helper" ui-sref="schoolsearch.geo" style="margin-bottom: 20px !important; width: 60%;">Nearby Schools</a>
                    <a class="button button-positive button-helper" ui-sref="schoolsearch.zip" style="margin-bottom: 20px !important; width: 60%;">Find School by Zip</a>
                    <p style="text-align:center;">Can't find your school?</p>
                    <a class="button button-positive button-helper" ui-sref="schoolsearch.add" style="margin-bottom: 20px !important; width: 60%;">Add New School</a>
                </div>
                
            </div>
        </article>
        
    </ion-content>
</ion-view>
